body{
    margin:0;
    padding:0;
    background-color:  rgba(139, 116, 116, 0.05);;
}    
    
            /* header */

.title{
 
    color: rgb(8, 8, 119);
    
 
 }
 
 .flex{
     display: flex;
 }
 
 
 
 
 h3{
     text-align: center;
     padding-top:1rem;
     
 }



     /* form */


.container-color{
   background-color: #E8F9FF;
   width: 40vw;
   margin-top: 3rem;
   margin-bottom: 3rem;
   padding-left: 2rem;
   border-radius: 1rem;
   box-shadow: 0.1rem 0.1rem 0.2rem 1rem  #e1f3f9;

}


.container-color h3{
  padding-top: 1rem;
   margin-bottom: 1rem;
   color: #578FCA;
   font-size: 2rem;
}

label {
 display: inline-block;
  width: 150px;
 text-align: left;
 
}

input{
   /* border-radius: 0.3rem; */
   border-radius:0.3vw ;
   margin-bottom: 1.3vw;
   width:20vw;
 
}




        /* footer */
        .footer{
         text-align: center;
         padding: 1rem;
         background-color: rgba(0,0,0, 0.05);
     }
     .footer li{
        
         display: inline-block;
     }        